@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500&display=swap');

:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);

  --opaque-button-border-intensity: -8;

  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: 0 0% 9.02%;
  --foreground: 0 0% 87.06%;
  --border: 0 0% 40%;

  --card: 0 0% 12.94%;
  --card-foreground: 0 0% 85.1%;
  --card-border: 0 0% 20%;

  --sidebar: 180 6.6667% 97.0588%;
  --sidebar-foreground: 210 25% 7.8431%;
  --sidebar-border: 205 25% 90.5882%;
  --sidebar-primary: 203.89 88.28% 53.14%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 211.58 51.35% 92.75%;
  --sidebar-accent-foreground: 203.89 88.28% 53.14%;
  --sidebar-ring: 203.89 88.28% 53.14%;

  --popover: 0 0% 12.16%;
  --popover-foreground: 0 0% 81.96%;
  --popover-border: 0 0% 18%;

  --primary: 203.89 88.28% 53.14%;
  --primary-foreground: 0 0% 100%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 100%;

  --muted: 0 0% 16.86%;
  --muted-foreground: 0 0% 83.92%;

  --accent: 0 0% 23.92%;
  --accent-foreground: 203.89 88.28% 53.14%;

  --destructive: 356.30 90.56% 54.31%;
  --destructive-foreground: 0 0% 100%;

  --input: 0 0% 25.88%;
  --ring: 203.89 88.28% 53.14%;

  --chart-1: 203.89 88.28% 53.14%;
  --chart-2: 159.78 100% 36.08%;
  --chart-3: 42.03 92.83% 56.27%;
  --chart-4: 147.14 78.50% 41.96%;
  --chart-5: 341.49 75.20% 50.98%;

  --font-sans: 'Inter', 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);

  --opaque-button-border-intensity: 9;

  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: 0 0% 0%;
  --foreground: 200 6.67% 91.18%;
  --border: 210 5.26% 14.90%;

  --card: 228 9.80% 10%;
  --card-foreground: 0 0% 85.10%;
  --card-border: 210 8% 15%;

  --sidebar: 228 9.80% 10%;
  --sidebar-foreground: 0 0% 85.10%;
  --sidebar-border: 205.71 15.79% 26.08%;
  --sidebar-primary: 202.82 89.12% 53.14%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 205.71 70% 7.84%;
  --sidebar-accent-foreground: 203.77 87.60% 52.55%;
  --sidebar-ring: 202.82 89.12% 53.14%;

  --popover: 0 0% 0%;
  --popover-foreground: 200 6.67% 91.18%;
  --popover-border: 210 6% 8%;

  --primary: 203.77 87.60% 52.55%;
  --primary-foreground: 0 0% 100%;

  --secondary: 195 15.38% 94.90%;
  --secondary-foreground: 210 25% 7.84%;

  --muted: 0 0% 9.41%;
  --muted-foreground: 210 3.39% 46.27%;

  --accent: 205.71 70% 7.84%;
  --accent-foreground: 203.77 87.60% 52.55%;

  --destructive: 356.30 90.56% 54.31%;
  --destructive-foreground: 0 0% 100%;

  --input: 207.69 27.66% 18.43%;
  --ring: 202.82 89.12% 53.14%;

  --chart-1: 203.89 88.28% 53.14%;
  --chart-2: 159.78 100% 36.08%;
  --chart-3: 42.03 92.83% 56.27%;
  --chart-4: 147.14 78.50% 41.96%;
  --chart-5: 341.49 75.20% 50.98%;

  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);

  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  .no-default-hover-elevate {}
  .no-default-active-elevate {}

  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: -1;
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  .border.toggle-elevate::before {
    inset: -1px;
  }

  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: 999;
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}